{% block content %}


<div class="card md-4 shadow">
    <div class="card-body">
        <p>{{ comment.note }}</p>
        <div class="d-flex justify-content-between">
            <small>author: {{ comment.author.username }}</small>          
            <div id= "comment-buttons" class="btn-group">
                <a href="/comments/edit/{{parkCode}}/{{comment.id}}" class="btn btn-primary">Edit Comment</a>
                <form action="/comments/delete/{{parkCode}}/{{comment.id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Remove Comment" class="btn btn-danger">
                </form>
            </div>            
        </div>
    </div>
</div>

{% endblock %}

<!-- create an edit and a delete button... these can be the same as the edit and delete from fruits-->

<!-- add and if statement so that only the logged in user can access these buttons   -->