{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6">All Parks</h2>
    <div class="row">

        {% for park in parks %}
            <div class="card" style="width: 18rem">
                <h5 class="card-header">{{park.name}}</h5>
                <div class="card-body">
                    <h6 class="card-title">
                        {% if park.readyToEat %}
                            Ripe
                        {% else %}
                            Not Ripe
                        {% endif %}
                    </h6>
                    <p class="card-text">
                        The color of this {{park.name}} is {{park.color}}
                    </p>
                    
                    <a href="/parks/{{park._id}}" class="btn btn-info">View {{park.name}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}