


{% layout 'layout.liquid' %}

{% block content%}
<div>
    <h2 class="display-4" style=color:yellow;>Welcome To Parks Tracker</h2>
    <h4 style="color: yellow;">To view parks click on any park</h4>
    <div class="row">
        {% for park in park %}
        <form action="/parks/create" method="POST">
            <input name="parkCode" value="{{park.parkCode}}" type="hidden"> 
            <input name="fullName" value="{{park.fullName}}" type="hidden">
            <input name="parkState" value="{{park.addresses[0].stateCode}}"type="hidden">
            <input name="entranceFees" value="{{park.entranceFees[0].cost}}"type="hidden">
            <input name="description" value="{{park.description}}" type="hidden">
            <div class="card" style="width: 18rem; background-color: rgb(36, 121, 73) ;">
                <img src={{park.images[0].url}} style="width: 250px; margin-top: 8px;">
                <div style="text-align: left;">
                    <button type="submit">{{park.fullName}}</button>
                </div>
            </div>
        </form>
        {% endfor %} 
    </div>

</div>
{% endblock %} 
