{% layout 'layout.liquid' %}

{% block content%}
<div class="show">
    
    <h4>Park Name: {{park.fullName}}</h4>
    <img src={{park.images[0].url}} style="width:600px;">
    <p>Park City: {{park.addresses[0].city}}</p>
    <p>Park State: {{park.states}}</p>
    <p>Entrance Fee: {{park.entranceFees[0].cost.}}, {{park.entranceFees[0].description}}</p>    
    <p>Description: {{park.description}}</p>
    <form action="/parks/create" method="POST">
        <fieldset>
            <input 
                class="form-control"
                type="text" 
                name="fullName" 
                value="{{park.fullName}}"
                hidden                    
            >
        
            <input 
                class="form-control"
                type="text" 
                name="parkCode" 
                value={{park.parkCode}} 
                hidden
            >
    
            <input 
                type="submit" 
                value="Add To My Parks"
                class="btn btn-success"
            >
        </fieldset>
    </form>
    <div id='comment' class="col-md-6" style="text-align:center;">
        <form action="/comments/{{park.parkCode}}" method="POST">
            <fieldset>
                <legend>Add comment</legend>
                <label class="form-label">Comment: </label>
                <input type="text" style="text-align:center;" class="form-control" name="note" placeholder="Enter comment here"/>
            </fieldset>
            <input type="submit" class="btn btn-success" value="Add comment" />
        </form>
    </div>
    {% if comments.length > 0 %}
    <div id="comment-container" class="container-sm justify-content-center" style="color: black;">
        <div id="comment-card" class="col-sm-10 col-md-8 col-lg-6" >
            {% for comment in comments %}
            {% render '../comment.liquid' comment: comment, userId: userId, parkCode: park.parkCode%}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}


<!-- //add a button "add to my parks" that will add this park you YOUR parks thrn bring you to userShow page (my parks) -->

<!-- //park code  -->
<!-- full name  -->
<!-- statecode -->