{% layout 'layout.liquid' %}

{% block content%}
<div style="text-align: center; color: black;">
    
    <h4>Park Name: {{park[0].fullName}}</h4>
    <img src={{park.images[0].url}} >
    <!-- <p>Park City: {{park.addresses[0].city}}</p> -->
    <p>Park State: {{park[0].parkState}}</p>
    <p>Entrance Fee: {{park[0].entranceFees}}</p>    
    <p>Description: {{park[0].description}}</p>

    <div class="col-md-6" style="text-align:center;">
        <form action="/comments/{{park.parkCode}}" method="POST">
            <fieldset>
                <legend>Add comment</legend>
                <label class="form-label">Comment: </label>
                <input type="text" style="text-align:center;" class="form-control" name="note" value="input" placeholder="Enter comment here"/>
            </fieldset>
            <input type="submit" class="btn btn-success" value="Add comment"/>
        </form>
    </div>
    {% if comments.length > 0 %}
    <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6" >
            {% for comment in comments %}
            {% render './comment.liquid' comment: comment, userId: userId, username: username%}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
