{% layout 'layout.liquid' %}

{% block content%}
<div style="color: yellow">
    
    <h4>Park Name: {{park.fullName}}</h4>
    <p>Park City: {{park.addresses[0].city}}</p>
    <p>Park State: {{park.states}}</p>
    <p>Entrance Fee: {{park.entranceFees[0].cost.}}, {{park.entranceFees[0].description}}</p>    
    <img src={{park.images.}}>
    <p>Description: {{park.description}}</p>
    <form action="/parks/create" method="POST">
        <fieldset>
            <input 
                class="form-control"
                type="text" 
                name="fullName" 
                value="{{park.fullName}}"
                hidden                    
            >
        
            <input 
                class="form-control"
                type="text" 
                name="parkCode" 
                value={{park.parkCode}} 
                hidden
            >
        
            <input 
                type="submit" 
                value="Add To My Parks"
                class="btn btn-success"
            >
        </fieldset>
    </form>
    <div class="btn-group">

        <a href="/parks/{{park}}/edit" class="btn btn-primary">Edit Park</a>
        <form action="/parks/{{park.parkCode}}?_method=DELETE" method="POST">
            <input type="submit" value="Remove Park" class="btn btn-danger">
        </form>
    </div>
    <div class="col-md-6">
        <form action="/comments/{{park.parkCode}}" method="POST">
            <fieldset>
                <legend>Add comment</legend>
                <label class="form-label">Comment: </label>
                <input type="text" class="form-control" name="note" placeholder="Enter comment here"/>
            </fieldset>
            <input type="submit" class="btn btn-success" value="Add comment" />
        </form>
    </div>
    {% if park.comments.length > 0 %}
    <div class="container-sm justify-content-center">
        <div class="col-md-8 col-lg-6" >
            {% for comment in park.comments %}
            {% render '../comment.liquid' comment: comment, userId: userId, park: park, username: username%}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}


<!-- //add a button "add to my parks" that will add this park you YOUR parks thrn bring you to userShow page (my parks) -->

<!-- //park code  -->
<!-- full name  -->
<!-- statecode -->